# python ---------------- config
__pycache__/ *.py[cod] *$py.class *.so .Python   .env* .venv*/ env*/ venv*/ ENV*/ db.sqlite3*

# packages -------------- logs/tests
build/ dist/ downloads/ .eggs/ *.egg* wheels/ share/python-wheels/ MANIFEST* *.spec   pip-*.txt *.log htmlcov/ .tox/ .nox/ .coverage* .cache/ coverage.xml* *.cover* .hypothesis/ .pytest_cache/

# docs/ipynb ------------ typing
docs/_build/ .pybuilder/ target/ .ipynb_checkpoints/ profile_default/   .mypy_cache/ .dmypy.json .pyre/ .pytype/

# marimo
marimo/_*/ __marimo__/
